
			 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
           
            .carousel-inner img {
                width: 200%;
                height: 200%;
            }
            </style>
            </head>
            <body>
 <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse-target">
          <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse" id="collapse-target">
       <a class="navbar-brand"><img src="images/Ict.jpg" width="50" height="50"></a>
        <span class="navbar-text" >ICT Academy of Kerala</span>
        <ul class="navbar-nav">
         
      </li>
          <li class="nav-item">
             <a  class="nav-link primary-active" href= "/">Home</a>
          </li>
          <li class="nav-item">
              <a  class="nav-link" href="/students/add">Add New Student</a>
          </li>
          <li class="nav-item">
              <a  class="nav-link"href="/students">All Students List</a>          </li>
        </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>

      
    </body></html>