
<%- include layouts/header.ejs %>

<div class="border-2 bcolor">


        <div class="su-row box">
            <div class="su-column su-column-size-1-2"><div class="su-column-inner su-clearfix">
            <h3 class="title">Welcome to Ict Academy Calicut </h3>
              <div class="su-column-inner su-clearfix"> <img src="./public/images/home-image.png" alt=""/></a></div></div> 
            <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the ICT industry.</p></div>
            </div>
            <!-- <div class="su-column su-column-size-1-4"> -->
              <!-- <div class="su-column-inner su-clearfix"> <img src="images/home-image.png"alt="home-image" width="205" height="230" /></a></div></div>  -->
            <!-- </div> -->

            <div class="su-column su-column-size-1-4"><div class="su-column-inner su-clearfix"><div class="su-box su-box-style-glass" style="border-color:#005f98;border-radius:1px;-moz-border-radius:1px;-webkit-border-radius:1px;"><div class="su-box-title" style="background-color:#0077be;color:#FFFFFF;">Our Office</div>
            <div class="su-box-content su-clearfix">
                <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3517.9880495664775!2d-82.3507234613321!3d28.146851996351952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2b71b6485bc0b%3A0xd408e5d67d37f48e!2s8907+Regents+Park+Dr%2C+Tampa%2C+FL+33647%2C+USA!5e0!3m2!1sen!2sin!4v1409146891055" width="300" height="150" frameborder="0"></iframe></p>
                <div style="height: 45px;"></div>
                </div></div></div></div>


   
      </div>
<footer>
        <div class="container-fluid p-5 black border-2" >
            <div class="row">
                <div class="col-sm-4">
                    <div class="d-flex flex-column white" >
                        <h5>Newslatter</h5>
                        <p class="white">Enter your email to subscribe to this blog and get notification of every new blog post</p>
                        <div class="form-control">
                            <input type="text" placeholder="Email">
                        </div>
                        <button type="button" class="btn btn-info mt-3">Subscribe</button>
    
                    </div>
                </div>
                <div class="col-sm-4">
                        <div class="d-flex flex-column p-3 border-2 white">
                            <h5>Services</h5>
                            <ul>
                                <li>Web Development</li>
                                <li>Software Development</li>
                                <li>Antroid Application</li>
                                <li>Digital Marketing</li>
                            </ul>
                </div>
            </div>
            <div class="col-sm-4">
                    <div class="d-flex flex-column  white">
                        <h5>Contact Us</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="name">
                            <input type="email" class="form-control mt-2" placeholder="email">
                            <textarea class="form-control mt-1"rows="3"placeholder="description"></textarea>
                            <button type="button" class="btn btn-info mt-2 float-right">Subscribe</button>
                        </div>
            </div>
        </div>
    
    
    
    
    
        <div><i><a href="https://www.facebook.com/ictkerala" class="	fab fa-facebook-square mr-3" style="font-size:36px;color:rgb(22, 18, 18)" ></i></a></div> 
        <div><i>	<a href="https://twitter.com/ictakerala" class="	fab fa-twitter mr-3" style="font-size:36px;color:rgb(17, 12, 12)"></i></a></div>  
        <div><i> <a href="https://plus.google.com/104561462705332107836/posts" class="	fab fa-google-plus-square mr-3" style="font-size:36px;color:rgb(24, 18, 18)"></i></a></div>   
        <div><i> <a href="https://www.youtube.com/user/ictkerala" class="fa fa-youtube-square mr-3" style="font-size:36px;color:rgb(24, 19, 19)"></i></a></div>   
        <div><i> <a href="https://www.instagram.com/ictak_kerala"  class="	fab fa-instagram mr-3"style="font-size:36px;color:rgb(24, 19, 19)"></i></a></div> 
            <div><i class="	fab fa-pinterest-square smr-3" style="font-size:36px;color:rgb(24, 19, 19)"></i></div>
        
            <div class="col-sm-5">
                    <p style="color:rgb(73, 72, 72);">Copyright 2019 © <a href="http://ictkerala.org">ICT Academy of Kerala.</a> All Rights Reserved.
                                                </p>
                    </div>
        </div>
    
        
                
    </footer>

<%- include layouts/footer.ejs %>
